.bold{font-weight:bold}
.divider{margin-top:.8em}
.navbar .brand{color:#690;margin-top:1px}
.navbar .nav{margin-top:3px}
h2{color:#690}
.nodeLogo{text-align:center}
.nodeLogo h2{color:#8bc84b;display:inline-block;margin:.7em 1em 0 .5em;vertical-align:middle}
.title{text-align:center;margin:1em 0;padding-bottom:.5em;border-bottom:1px dashed #33342d}
