!!!
html
	head
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		.container-fluid
			.navbar
				.navbar-inner
					.container
						ul.nav
							li
								a.active#homeLink(href='#') Home
							li
								a#aboutLink(href='#about') About
							li
								a#sponsorsLink(href='#sponsors') Sponsors
							li
								a#contactLink(href='#contact') Contact Us
							li.divider |
							li 
								a(href='http://www.meetup.com/Austin-Node-Usergroup/', target='_blank') Meetup Page

		.nodeLogo 
			h2 Austin
			img(src='img/logo.png')
			h2 Usergroup

		//Home
		.container-fluid.page#home
			h1.title Home 
			.hero-unit
				h2 Our First Meetup
				h3 July 12, 2012
				p We need a venue, a speaker, and sponsor! If you sponsor, you get:
				ul
					li Your logo and info on our sponsors page
					li A few minutes at the beginning of the meetup to talk about your company
						ul
							li This includes any open positions you may have to fill!
					li The undying gratitude of a new meetup organizer
				p Please contact me at admin@austinnode.com or on twitter at @atxnode with questions/interest

		//About
		.container-fluid.page#about
			h1.title About Us
			.hero-unit
				h2 Our Mission
				p We are a usergroup dedicated to spreading knowledge and interest of Node.JS to developers in the Austin 
					| area. We strive to both help the new and intellectually stimulate those with experience with Node.JS, 
					| and of course to have fun and make new friends in the process.

		//Sponsors
		.container-fluid.page#sponsors
			h1.title Sponsors
			.hero-unit
				h2 Our Support
				p These are the companies that make our meetups possible! Please be sure to check our their 
					| websites. Who knows, you might find a job working with Node.JS here!
			h2 July 2012
			p.bold Your company's name, logo, and description here!

		//Contact
		.container-fluid.page#contact
			h1.title Contact Us
			.hero-unit
				h2 Feel Free to Contact Us!
				ul
					li Email : 
						a(href='mailto:admin@nodeaustin.com') admin@austinnode.com
					li Twitter : 
						a(href='http://twitter.com/atxnode') @atxnode

		//scripts
		script(src='js/jquery.min.js')
		script(src='js/underscore.min.js')
		script(src='js/backbone.min.js')
		script(src='js/application.js')

