!!!
html
	head
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		.container-fluid
			.navbar
				.navbar-inner
					.container
						ul.nav
							li
								a.active#homeLink(href='#') Home
							li
								a#aboutLink(href='#about') About
							li
								a#sponsorsLink(href='#sponsors') Sponsors
							li
								a#contactLink(href='#contact') Contact Us
							li.divider |
							li 
								a(href='http://www.meetup.com/Austin-Node-Usergroup/', target='_blank') Meetup Page

		.nodeLogo 
			img(src='img/newlogo.PNG')

		//Home
		.container-fluid.page#home
			h1.title Home 
			.hero-unit
				h2 Austin Web Bash!
				p Following in our grand tradition, we plan to get together with the rest of
					| the Austin web community for a giant geek holiday party. Come escape from
					| the stress of end-of-year deadlines and impending familial obligations with
					| some great drinks and awesome people.
				p Each year participation has grown, and we're very proud that what started
					| out as a small gathering now includes 20 active groups spanning a wide
					| swatch of the Austin Web and Tech community. In line with participation from
					| so many groups, an array of awesome local businesses have stepped up to
					| sponsor the event, picking up a sizable bar tab and covering other
					| party-related costs.
				p Austin is an amazing town filled with inspiring people and groups. You
					| should come party with all of them on December 11th.
				h3 Event Details
				a(href="http://www.refreshaustin.org/bash/") Austin Web Bash Website
				p
					a(href="http://rj.cx/AWBash2012") RSVP on Facebook:
					| (not required, but it helps us plan)
				p 7 - 9pm, Tuesday, December 11th, 2012 at Buffalo Billiards (6th and Brazos)
				p Admission: At least one canned good for the Capital Area Food Bank.
					|(Last year we collected 549 pounds of canned goods and over $800 in donations!)
				h3 The Community
				ul
					li Austin All-Girl Hack Night
					li Austin JavaScript
					li Austin Drupal User's Group
					li Austin Lean Startup Circle
					li Austin NoSQL
					li Austin on Rails
					li Austin.rb
					li Austin PHP Meetup
					li Austin Python Meetup
					li Austin Web Python Users Group (AWPUG)
					li Austin Startup Week
					li Austin Web Architecture
					li Austin Web Design Meetup
					li Hacks/Hackers ATX
					li Girl Develop It
					li Online News Association Austin
					li IxDA-Austin
					li Austin Node User Group
					li Refresh Austin
					li WordPress Austin
					li Young Women's Roundtable
				p We hope that you'll come on out to catch up with old friends and make some new ones on December 11th!

		//About
		.container-fluid.page#about
			h1.title About Us
			.hero-unit
				h2 Our Mission
				p We are a usergroup dedicated to spreading knowledge and interest of Node.JS to developers in the Austin 
					| area. We strive to both help the new and intellectually stimulate those with experience with Node.JS, 
					| and of course to have fun and make new friends in the process.

		//Sponsors
		.container-fluid.page#sponsors
			h1.title Sponsors
			.hero-unit
				h2 Our Support
				p These are the companies that make our meetups possible! Please be sure to check our their 
					| websites. Who knows, you might find a job working with Node.JS here!
			h2 October 2012
			p.bold Our Pizza and Beer sponsor was 
				a(href="http://www.mattersight.com") Mattersight
			h2 July - September 2012
			p Our sponsor was 
				a(href="http://node.jit.su") Nodejitsu

		//Contact
		.container-fluid.page#contact
			h1.title Contact Us
			.hero-unit
				h2 Feel Free to Contact Us!
				ul
					li Email : 
						a(href='mailto:admin@nodeaustin.com') admin@austinnode.com
					li Twitter : 
						a(href='http://twitter.com/atxnode') @atxnode

		//scripts
		script(src='js/jquery.min.js')
		script(src='js/underscore.min.js')
		script(src='js/backbone.min.js')
		script(src='js/application.js')

